<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>SupportsSwiftPackage</key>
    <true/>
    <key>Kind</key>
    <string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
    <key>Description</key>
    <string>A Swift XCTest file, starting with Test Zero.</string>
    <key>Summary</key>
    <string>A simple XCTest file.</string>
    <key>BuildableType</key>
    <string>Test</string>
    <key>DefaultCompletionName</key>
    <string>Tests</string>
    <key>Platforms</key>
    <array/>
    <key>AllowedTypes</key>
    <array>
      <string>public.swift-source</string>
    </array>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>productName</string>
        <key>Required</key>
        <true/>
        <key>Name</key>
        <string>Class:</string>
        <key>Description</key>
        <string>The name of the class to create</string>
        <key>Type</key>
        <string>text</string>
        <key>NotPersisted</key>
        <true/>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>moduleName</string>
        <key>Required</key>
        <true/>
        <key>Name</key>
        <string>Module:</string>
        <key>Description</key>
        <string>The name of the module you're testing</string>
        <key>Type</key>
        <string>text</string>
        <key>NotPersisted</key>
        <false/>
      </dict>
    </array>
    <key>MainTemplateFile</key>
    <string>___FILEBASENAME___.swift</string>
  </dict>
</plist>
